<div ng-controller='formController'>
    <h2 class='col-md-10 col-md-offset-3'>Who are you caring for?</h2>
    <div class="form-group col-xs-6 col-xs-offset-3">
        <div  ng-click="toggle()"  class="btn btn-primary btn-lg "> Someone else </div>
        
        <div  ng-click="toggle()" class="btn btn-primary btn-lg ">   Myself     </div>
    </div>

 <div ng-show="visible" class="form-group">
      <h4 class='col-md-10 col-md-offset-0' >First Name</h4>
      <input class="form-control" id="focusedInput" type="text" ng-model='formData.firstName' value="Johnny ">
      <h4>Last Name</h4>
      <input class="form-control" id="focusedInput" type="text" ng-model='formData.lastName' value="Appleseed">
  </div>

 <div ng-show="visible" class="form-group">
    <h2> Gender </h2>
      <div class="btn-group btn-group-justified">
          <a href="#" class="btn btn-default" ng-model='formData.gender'>Male</a>
          <a href="#" class="btn btn-default" ng-model='formData.gender'>Female</a>
          <a href="#" class="btn btn-default" ng-model='formData.gender'>Other</a>
    </div>
</div>


<div ng-show="visible" class="form-group">
      <h2> Address </h2>
      <input class="form-control" id="focusedInput" type="text" ng-model='formData.street'value="Street Address">
        <h4> Suite</h3>
      <input class="form-control-static" id="focusedInput" ng-model='formData.suite' type="text" value="Apt #">
        <h4> City </h4>
      <input class="form-control" id="focusedInput" type="text" ng-model='formData.city' value="City">
        <h4> Province </h4>
      <input class="form-control" id="focusedInput" type="text" ng-model='formData.province' value="Province">
        <h4> Postal Code </h4>
      <input class="form-control" id="focusedInput" type="text" ng-model='formData.postal' value="Postal Code">
        <h4> Specific Instructions </h4>
      <input class="form-control" id="focusedInput" type="text" ng-model='formData.instructions' value="Back Door">
        <h4> Favorite Activities </h4>
      <input class="form-control" id="focusedInput" type="text" ng-model='formData.activities'value="Playing Gold">
        <h4> Profession Before Retirement </h4>
      <input class="form-control" id="focusedInput" type="text" ng-model='formData.profession' value="University Professor">
    </div>

<!-- </div>
 -->
<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="payment" ng-submit='.serverCall()' class="btn btn-block btn-info">Next Section</a>
</div>
</div>
</div>
