<label>Who are you caring for?</label>
<div class="form-group">
    <div class="radio">
     <label>
           <input type="radio" ng-model="formData.careType" value="someoneElse" checked>
           Someone else
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.careType" value="myself">
            Myself
        </label>
    </div>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="payment" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>