<div class="text-center">
<h2 class="col-xs-6 col-xs-offset-3"> What can we help with?</h2>
<div class="form-group">
  <div class="btn-group btn-group-justified">
  <a ng-model='formData.purpose' class="btn btn-default"><img src='activity_dark_gray.png' />Activity</a>
  <a ng-model='formData.purpose' class="btn btn-default"><img src='companionship_dark_gray.png' />Companion</a>
  <a ng-model='formData.purpose' class="btn btn-default"><img src='food_dark_gray.png' />Food</a>
  <a ng-model='formData.purpose' class="btn btn-default"><img src='grooming_dark_gray.png'/>Grooming</a>
  <a ng-model='formData.purpose' class="btn btn-default"><img src='housekeeping_dark_gray.png' />House</a>
  <a ng-model='formData.purpose' class="btn btn-default"><img src='transportation_dark_gray.png' />Transport</a>
</div>
</div>

<h2 class="col-xs-6 col-xs-offset-3"> How many days a week?</h2>
<div class="form-group col-xs-6 col-xs-offset-4">
 <div class="btn-toolbar">
  <div class="btn-group">
  <br></br>
    <a ng-model='formData.days' class="btn btn-default">1</a>
    <a ng-model='formData.days' class="btn btn-default">2</a>
    <a ng-model='formData.days' class="btn btn-default">3</a>
    <a ng-model='formData.days' class="btn btn-default">4</a>
    <a ng-model='formData.days' class="btn btn-default">5</a>
    <a ng-model='formData.days' class="btn btn-default">6</a>
    <a ng-model='formData.days' class="btn btn-default">7</a>
   </div>
 </div>
 </div>
    <div class="col-xs-6 col-xs-offset-3"> <h2> We'll be in touch later today to set up a time!</h2></div>
  <button ng-submit='serverCall()' type="submit" class="btn btn-danger col-xs-6 col-xs-offset-3">Submit</button>
</div>