<div class="form-group" ng-controller='formController'>
  <label for="postalCode">Please enter you Postal Code and see if we're available.</label>
  <input type="text" class="form-control" name="email" ng-model="formData.postalCode" ng-submit='fetch()'>

		  <div class="form-group row">
		<div class="col-xs-6 col-xs-offset-3">
		 <a class="btn btn-block btn-info" ng-click="fetch(formData.postalCode)">
		   Check Availability <span class="glyphicon glyphicon-circle-arrow-right"></span>
		  </a>
  
		<!--   <a ng-class="btn btn-block btn-info" ui-sref="form.createAccount"> Create Account 
		  <span class="glyphicon glyphicon-circle-arrow-right"></span>
		  </a>
		</div> -->
</div>

